<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head') %>

  <!--Custon CSS-->
  <link rel="stylesheet" href="../../css/style.css">
</head>

</html>

<body>


  <%- include('../partials/header') %>

  <section>
    <div class="container">
      <div class="row">
        <%=title %>
      </div>
    </div>
  </section>


  <footer class="footer-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 order-2 order-md-1">
          <div class="copyright">
            Copyright ©
            2023 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by BacteriaQH
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>