<header class="header-section">
  <a href="/" class="site-logo">
    <span>Image</span>
    <p>Gallery</p>
  </a>
  <div class="header-controls">
    <img class="dropdown" src="https://i.pinimg.com/736x/19/15/87/191587b38fb54a82998a55a69e78d375.jpg" style="width: 80px" alt="">
    <ul class="sub-menu">
      <li><a href="/user/@0623d71b633f4140892a8c20c7be8210">Personal Page</a></li>
      <li><a href="/sxxcscc">Setting </a></li>
      <li><a href="/sxxcscc">Logout</a></a></li>
    </ul>
  </div>
</header>