<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <!--Custom CSS-->
  <link rel="stylesheet" href="/css/index.css">
</head>


<body>
  <section class="main-content">
    <h1><%=error %></h1>
    <div>
      <% if (type != 404) { %>
      <a href="/login">Go to Login</a>
      <% } else { %>
      <a href="/">Go to Home</a>
      <% } %>
    </div>
  </section>
</body>

</html>