<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <!--Custom CSS-->
  <link rel="stylesheet" href="/css/index.css">
</head>


<body>
  <section class="main-content">
    <h1>404 | Page Not Found</h1>
    <div>
      <a href="/">Go Back</a>
    </div>
  </section>
</body>

</html>