<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head') %>

  <!--Custon CSS-->
  <link rel="stylesheet" href="../../css/style.css">
</head>

</html>

<body>


  <header class="header-section">
    <a href="/" class="site-logo">
      <span>Image</span>
      <p>Gallery</p>
    </a>
    <div class="header-controls">
      <img class="dropdown" src="https://i.pinimg.com/736x/19/15/87/191587b38fb54a82998a55a69e78d375.jpg" style="width: 80px" alt="">
      <ul class="sub-menu">
        <li><a href="/sxxcscc">Personal Page</a></li>
        <li><a href="/sxxcscc">Setting </a></li>
        <li><a href="/sxxcscc">Logout</a></a></li>
      </ul>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <%= pageTitle %>
      </div>
    </div>
  </section>


  <footer class="footer-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 order-2 order-md-1">
          <div class="copyright">
            Copyright ©
            2023 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by BacteriaQH
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>